{% extends 'polls/base.html' %} 
{% block content %}

<h1>{{ question.question_text }}</h1>
<div class="col-sm-3">
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %} 
        {% block chooseAnswr%}
        <label for="radio" id="people_header">Proszę wybrać jedną z dostępnych propozycji:</label>
        {% endblock %}
        {% for choice in question.choice_set.all %}
        <div class="radio">
            <label>
                <input id="{{ choice.id }}" type="radio" name="choice" value="{{ choice.id }}"> 
                {{ choice.choice_text}}
            </label>
        </div>
        {% endfor %} 
        {% block openQuestion %}
        {% endblock %}
        <div class="form-group">
            <label for="code">
                Kod dostępu:
            </label>
            <input id="code" name="code" type="password" class="form-control">
        </div>
        <button class="btn btn-primary">Głosuj</button>
    </form>
</div>
{% endblock %}
