{% extends 'polls/base.html' %}
{% block content %} 
   {% if questions_list %}
   <table class="table table-striped">
      <caption><h3>Lista pytań</h3></caption>
      <thead>
         <tr>
            <th>Głosowanie</th>
            <th>Data</th>
            <th>Wynik</th>
            <th>Kody</th>
            <th>Kody w pdf</th>
         </tr>
      </thead>
      <tbody>
         {% for question in questions_list %}
         <tr>
            <td>
               <a href="{% url 'polls:detail' question.id %}">
                  {{question.question_text}}
               </a>
            </td>
            <td>{{question.start_date}} - {{question.end_date}}</td>
            <td><a href="{% url 'polls:result' question.id %}">Wynik</a></td>
            <td><a href="{% url 'polls:codes' question.id %}">
               Wyświetl kody</a>
            </td>
            <td><a href="{% url 'polls:codes_pdf' question.id %}">
               Pobierz kody w pdf</a>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   {% else %}
   <div class="text-info" role="alert">
      <h2>Brak ankiet!</h2> 
   </div>
   {% endif %}
{% endblock %}
