{% extends 'polls/detail.html' %} 

{% block chooseAnswr%}
<label for="radio" id="people_header">Proszę wybrać jedną z dostępnych propozycji, lub podać własną:</label>
{% endblock %}

{% block openQuestion %}

        <div class="form-group">
            <label for="new_choice">
                Własna propozycja:
            </label>
            <input id="new_choice" name="new_choice" type="text" class="form-control" list="employers"> 
            {% if peopleQ %}
            <datalist id="employers">
                <select>
                    {% for e in employers%}
                    <option value="{{ e }}">{{ e }} </option>
                    {% endfor %}
                </select>
            </datalist>
            {% endif %}

        </div>
        
{% endblock %}

