{% extends 'polls/base.html' %}
{% block content %}
   {% if polls_list %}
   <table class="table table-striped">
      <caption><h3>Lista ankiet</h3></caption>
      <thead>
         <tr>
            <th>Ankieta</th>
            <th>Data</th>
            <th>Kody</th>
            <th>Kody w pdf</th>
         </tr>
      </thead>
      <tbody>
         {% for poll in polls_list %}
         <tr>
            <td><a href="{% url 'polls:poll_detail' poll.id %}">
                  {{poll.poll_name}}</a>
            </td>
            <td>
                  {{poll.date}}
            </td>
            <td><a href="{% url 'polls:codes' poll.id %}">
               Wyświetl kody</a>
            </td>
            <td><a href="{% url 'polls:codes_pdf' poll.id %}">
               Pobierz kody w pdf</a>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   {% else %}
   <div class="text-info" role="alert">
      <h2>Brak ankiet!</h2>
   </div>
   {% endif %}
{% endblock %}
