{% extends 'polls/base.html' %}
{% block breadcrumbs %} 
        <div class="left-nav"><a href="{% url 'polls:poll_index' %}">Ankiety</a></div>
        {% if  poll.poll_name|length > 26 %}
            <div class="left-nav"><p class="navbar-text">{{ poll.poll_name|slice:"20" }}(...)</p></div>
        {% else %}
            <div class="left-nav"><p class="navbar-text">{{ poll.poll_name}}</p></div>
        {% endif %}
{% endblock %}
{% block content %}
   {% if is_session %}
   <form action="{% url 'polls:logout' poll.id %}" method="post">
      {% csrf_token %}
      <button class="btn btn-primary" style="margin-top:18px">Zakończ sesję</button>
   </form>
   {% else %}
   <form action="{% url 'polls:login' poll.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
         <div class="col-sm-3">
            <label for="code" style="margin-top:10px">
               Kod dostępu:
            </label>
            <input id="code" name="code" type="password" class="form-control" size="10">
            <button class="btn btn-primary" style="margin-top:7px" name="login_button">Zaloguj</button>
         </div>
      </div>
   </form>
   {% endif %}

   {% if questions_list %}
   <table class="table table-striped">
      <caption><h3>Lista pytań</h3></caption>
      <thead>
         <tr>
            <th>Głosowanie</th>
            <th>Wynik</th>
         </tr>
      </thead>
      <tbody>
         {% for question in questions_list %}
         <tr>
            <td>
               <a href="{% url 'polls:question_detail' question.id %}">
                  {% if question.is_active %}
                  <strong>{{question.question_text}}</strong>
                  {% else %}
                  {{question.question_text}}
                  {% endif %}
               </a>
            </td>
            <td><a href="{% url 'polls:question_result' question.id %}">Wynik</a></td>

            {% if user.is_superuser %}
            <td>
               {% if question.is_available %}
               <form action="{% url 'polls:activate_question' question.id %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-success">Rozpocznij</button>
                  na
                  <input name="time" type="text" size="4">
                  min
               </form>
               {% elif question.is_active %}
               <form action="{% url 'polls:deactivate_question' question.id %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-danger">Zakończ</button>
               </form>
               {% endif %}
            </td>
            {% endif %}

         </tr>
         {% endfor %}
      </tbody>
   </table>
   {% else %}
   <div class="text-info" role="alert">
      <h2>Brak pytań!</h2>
   </div>
   {% endif %}
{% endblock %}
