{% extends 'polls/base.html' %}
{% block content %}
   <h1>{{ question.question_text }}</h1>
   <div class="col-sm-3">
      <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
         {% for choice in question.choice_set.all %}
       	 <div class="radio">
            <label><input id="{{ choice.id }}" type="radio" name="choice" value="{{ choice.id }}">
                {{ choice.choice_text}}
            </label>
          </div>
         {% endfor %}
         {% if is_open %}
         <div class="form-group">
            <label for="new_choice">
                Własna propozycja:
            </label>
            {% if is_people_question %}
                <input id="new_choice" name="new_choice" type="text" class="form-control"  list="employers">
                <datalist id="employers">
                    <select>
                        {% for e in employers %}
                        <option value="{{ e }}">{{ e }} </option>
                        {% endfor %}
                    </select>
                </datalist>
            {% else %}
                <input id="new_choice" name="new_choice" type="text" class="form-control">
            {% endif %}
         </div>
         {% endif %}
         {% if is_session %}
         <button class="btn btn-primary">Głosuj</button>
         {% endif %}
      </form>
   </div>
{% endblock %}
