{% extends 'polls/base.html' %}
{% block breadcrumbs %} 
        <div class="left-nav"><a href="{% url 'polls:poll_index' %}">Ankiety</a></div>
        {% if  question.poll.poll_name|length > 26 %}
            <div class="left-nav"><a href="{% url 'polls:poll_detail' question.poll.pk %}">{{ question.poll.poll_name|slice:"20" }}(...)</a></div>
        {% else %}
            <div class="left-nav"><a href="{% url 'polls:poll_detail' question.poll.pk %}">{{ question.poll }}</a></div>
        {% endif %}
        {% if  question.question_text|length > 26 %}
            <div class="left-nav"><p class="navbar-text">{{ question.question_text|slice:"20" }}(...)</p></div>
        {% else %}
            <div class="left-nav"><p class="navbar-text">{{ question.question_text }}</p></div>
        {% endif %}
{% endblock %}
{% block content %}
   <h1>{{ question.question_text }}</h1>
   <div class="col-sm-3">
      <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
         {% for choice in question.choice_set.all %}
       	 <div class="radio">
            <label><input id="{{ choice.id }}" type="radio" name="choice" value="{{ choice.id }}">
                {{ choice.choice_text}}
            </label>
          </div>
         {% endfor %}
         {% if is_open %}
         <div class="form-group">
            <label for="new_choice">
                Własna propozycja:
            </label>
            <input id="new_choice" name="new_choice" type="text" class="form-control" >
         </div>
         {% endif %}
         {% if is_session %}
         <button class="btn btn-primary">Głosuj</button>
         {% endif %}
      </form>

      {% if form %}
      <br/><br/>
      <h3>Nowy komentarz</h3>
      <form method="POST" class="post-form" action="{% url 'polls:add_comment_to_question' question.id %}" >{% csrf_token %}
         {{ form.as_p }}
         <button type="submit" class="save btn btn-default">Dodaj komentarz</button>
      </form>
      <br/>
      {% else %}
      <br/><br/>
      <p>Dodawanie komentarzy możliwe tylko przed rozpoczęciem głosowania</p>
      {% endif %}

      {% for comment in comments %}
      <div class="comment">
         <br/>
         <div class="date"><strong>{{ comment.date }}</strong></div>
         <p>{{ comment.text|linebreaks }}</p>
      </div>
      {% empty %}
         <p>No comments</p>
      {% endfor %}
   </div>
{% endblock %}
